<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="admin.css">
    <title>AFET BİLDİRİM</title>
</head>
<body><center>
    <form action="/login" method="post" id="form">
        <input type="text" name="ad" id="txt" placeholder="Kullanıcı Adı">
        <input type="password" name="sifre" id="txt" placeholder="Şifre">
        <input type="submit" value="Giriş" id="btn">
    </form></center>
</body>
</html>